<!DOCTYPE html>
<html>
<head>
<title>Student Records</title>

<style>

body{
font-family:Arial;
text-align:center;
}

table{
width:95%;
margin:auto;
border-collapse:collapse;
}

th,td{
border:1px solid #ddd;
padding:10px;
}

th{
background:#004aad;
color:white;
}

button{
padding:8px 12px;
border:none;
border-radius:5px;
cursor:pointer;
}

.export{
background:#28a745;
color:white;
}

.logout{
background:#dc3545;
color:white;
}

</style>

</head>

<body>

<h1>Student Records</h1>

<form method="GET" action="/dashboard">

<input type="text" name="search" placeholder="Search Hallticket">

<button type="submit">Search</button>

</form>

<br>

<a href="/reset-db">
<button style="background:red;color:white;padding:8px 12px;border:none;border-radius:5px;">
Reset Database
</button>
</a>

<a href="/logout">
<button class="logout">Logout</button>
</a>

<br><br>

<table>

<tr>

<th>ID</th>
<th>Name</th>
<th>Phone1</th>
<th>Phone2</th>
<th>Phone3</th>
<th>Hallticket</th>
<th>Course</th>
<th>Place</th>
<th>School</th>
<th>Bus</th>
<th>Reference</th>
<th>Department</th>
<th>Date</th>
<th>Time</th>
<th>Edit</th>

</tr>

{% for student in students %}

{% for student in students %}

<tr>

<td>{{student[0]}}</td>
<td>{{student[1]}}</td>
<td>{{student[2]}}</td>
<td>{{student[3]}}</td>
<td>{{student[4]}}</td>
<td>{{student[5]}}</td>
<td>{{student[6]}}</td>
<td>{{student[7]}}</td>
<td>{{student[8]}}</td>
<td>{{student[9]}}</td>
<td>{{student[10]}}</td>
<td>{{student[11]}}</td>
<td>{{student[12]}}</td>
<td>{{student[13]}}</td>

<td>
<a href="/edit/{{student[0]}}">
<button style="background:#07ff51;border:none;padding:6px 10px;border-radius:5px;">
Edit
</button>
</a>
</td>

</tr>

{% endfor %}

{% endfor %}

</table>


</body>
</html>