<!DOCTYPE html>
<html>
<head>
<title>Edit Student</title>

<style>

body{
font-family:Arial;
background:#f2f2f2;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.form-box{
background:white;
padding:30px;
width:400px;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

input{
width:100%;
padding:10px;
margin:8px 0;
}

button{
width:100%;
padding:10px;
background:#004aad;
color:white;
border:none;
border-radius:5px;
}

</style>

</head>

<body>

<div class="form-box">

<h2>Edit Student</h2>

<form method="POST">

<input type="text" name="name" value="{{student[1]}}" required>

<input type="text" name="phone1" value="{{student[2]}}" required>

<input type="text" name="phone2" value="{{student[3]}}">

<input type="text" name="phone3" value="{{student[4]}}">

<input type="text" name="course" value="{{student[6]}}">

<input type="text" name="place" value="{{student[7]}}">

<input type="text" name="school" value="{{student[8]}}">

<input type="text" name="busnumber" value="{{student[9]}}">

<input type="text" name="reference" value="{{student[10]}}">

<input type="text" name="reference_department" value="{{student[11]}}">

<button type="submit">Update Student</button>

</form>

</div>

</body>
</html>